@charset "UTF-8";

:root {
    --primary-color: #dc3822;
    --dark-grey: #1d242d;
    --grey: #32373c;
    --light-grey: #8c8989;
    --lighter-grey: #bfbfbf;
    --lg: 800px;
    --font-serif: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
    --font-sans: "inter var", -apple-system ,BlinkMacSystemFont, "helvetica neue", Helvetica, sans-serif;
}

@font-face {
    font-family: NonBreakingSpaceOverride;
    src: url(data:application/font-woff2;charset=utf-8;base64,d09GMgABAAAAAAMoAA0AAAAACDQAAALTAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGh4GYACCahEICjx3CywAATYCJANUBCAFhiEHgWwbXQfILgpsY+rQRRARwyAs6uL7pxzYhxEE+32b3aeHmifR6tklkS9hiZA0ewkqGRJE+H7/+6378ASViK/PGeavqJyOzsceKi1s3BCiQsiOdn1r/RBgIJYEgCUhbm/8/8/h4saPssnTNkkiWUBrTRtjmQSajw3Ui3pZ3LYDPD+XG2C3JA/yKAS8/rU5eNfuGqRf4eNNgV4YAlIIgxglEkWe6FYpq10+wi3g+/nUgvgPFczNrz/RsTgVm/zfbPuHZlsuQECxuyqBcQwKFBjFgKO8AqP4bAN9tFJtnM9xPcbNjeXS/x1wY/xU52f5W/X1+9cnH4YwKIaoRRAkUkj/YlAAeF/624foiIDBgBmgQBeGAyhBljUPZUm/l2dTvmpqcBDUOHdbPZWd8JsBAsGr4w8/EDn82/bUPx4eh0YNrQTBuHO2FjQEAGBwK0DeI37DpQVqdERS4gZBhpeUhWCfLFz7J99aEBgsJCHvUGAdAPp4IADDCAPCEFMGpMZ9AQpTfQtQGhLbGVBZFV8BaqNyP68oTZgHNj3M8kBPfXTTC9t90UuzYhy9ciH0grVlOcqyCytisvbsERsEYztiznR0WCrmTksJwbSNK6fd1Rvr25I9oLvctUoEbNOmXJbqgYgPXEHJ82IUsrCnpkxh23F1rfZ2zcRnJYoXtauB3VTFkFXQg3uoZYD5qE0kdjDtoDoF1h2bulGmev5HbYhbrjtohQSRI4aNOkffIcT+d3v6atpaYh3JvPoQsztCcqvaBkppDSPcQ3bw3KaCBo1f5CJWTZEgW3LjLofYg51MaVezrx8xZitYbQ9KYeoRaqQdVLwSEfrKXLK1otCWOKNdR/YwYAfon5Yk8O2MJfSD10dPGA5PIJJQMkah0ugMJiv6x4Dm7LEa8xnrRGGGLAg4sAlbsA07sAt76DOsXKO3hIjtIlpnnFrt1qW4kh6NhS83P/6HB/fl1SMAAA==) format("woff2"), url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAUQAA0AAAAACDQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAE9AAAABwAAAAchf5yU0dERUYAAATYAAAAHAAAAB4AJwAbT1MvMgAAAaAAAABJAAAAYJAcgU5jbWFwAAACIAAAAF4AAAFqUUxBZ2dhc3AAAATQAAAACAAAAAgAAAAQZ2x5ZgAAApAAAAAyAAAAPL0n8y9oZWFkAAABMAAAADAAAAA2Fi93Z2hoZWEAAAFgAAAAHQAAACQOSgWaaG10eAAAAewAAAAzAAAAVC7TAQBsb2NhAAACgAAAABAAAAAsAOQBAm1heHAAAAGAAAAAHQAAACAAWQALbmFtZQAAAsQAAAF6AAADIYvD/Adwb3N0AAAEQAAAAI4AAADsapk2o3jaY2BkYGAA4ov5mwzj+W2+MnCzXwCKMNzgCBSB0LfbQDQ7AxuI4mBgAlEAFKQIRHjaY2BkYGD3+NvCwMDBAALsDAyMDKhAFAA3+wH3AAAAeNpjYGRgYBBl4GBgYgABEMnIABJzAPMZAAVmAGUAAAB42mNgZlJhnMDAysDCKsKygYGBYRqEZtrDYMT4D8gHSmEHjgUFOQwODAqqf9g9/rYwMLB7MNUAhRlBcsxBrMlASoGBEQAj8QtyAAAAeNrjYGBkAAGmWQwMjO8gmBnIZ2NA0ExAzNjAAFYJVn0ASBsD6VAIDZb7AtELAgANIgb9AHjaY2BgYGaAYBkGRgYQSAHyGMF8FgYPIM3HwMHAxMDGoMCwQIFLQV8hXvXP//9AcRCfAcb///h/ygPW+w/vb7olBjUHCTCyMcAFGZmABBO6AogThgZgIUsXAEDcEzcAAHjaY2BgECMCyoEgACZaAed42mNgYmRgYGBnYGNgYAZSDJqMgorCgoqCjECRXwwNrCAKSP5mAAFGBiRgyAAAi/YFBQAAeNqtkc1OwkAUhU/5M25cEhcsZick0AwlBJq6MWwgJkAgYV/KAA2lJeUn+hY+gktXvpKv4dLTMqKycGHsTZNv7px7z50ZAFd4hYHjdw1Ls4EiHjVncIFnzVnc4F1zDkWjrzmPW+NNcwGlzIRKI3fJlUyrEjZQxb3mDH2fNGfRx4vmHKqG0JzHg6E0F9DOlFBGBxUI1GEzLNT4S0aLuTtsGAEUuYcQHkyg3KmIum1bNUvKlrjbbAIleqHHnS4iSudpQcySMYtdFiXlAxzSbAwfMxK6kZoHKhbjjespMTioOPZnzI+4ucCeTVyKMVKLfeAS6vSWaTinuZwzyy/Dc7vaed+6KaV0kukdPUk6yOcctZPvvxxqksq2lEW8RvHjMEO2FCl/zy6p3NEm0R9OFSafJdldc4QVeyaaObMBO0/5cCaa6d9Ggyubxire+lEojscdjoWUR1xGOy8KD8mG2ZLO2l2paDc3A39qmU2z2W5YNv5+u79e6QfGJY/hAAB42m3NywrCMBQE0DupWp/1AYI7/6DEaLQu66Mrd35BKUWKJSlFv1+rue4cGM7shgR981qSon+ZNwUJ8iDgoYU2OvDRRQ99DDDECAHGmGCKmf80hZSx/Kik/LliFbtmN6xmt+yOjdg9GztV4tROnRwX/Bsaaw51nt4Lc7tWaZYHp/MlzKx51LZs5htNri+2AAAAAQAB//8AD3jaY2BkYGDgAWIxIGZiYARCESBmAfMYAAR6AEMAAAABAAAAANXtRbgAAAAA2AhRFAAAAADYCNuG) format("woff");
}

@font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Inter-upright-var.woff2) format("woff2");
}

@font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    src: url(../fonts/Inter-italic-var.woff2) format("woff2");
}

html {
    font-size: 10px;
    margin: 0;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: var(--font-serif);
    line-height: 1.5;

    color: var(--grey);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 4.8rem;
    font-weight: bold;
    color: var(--dark-grey);
    font-family: var(--font-sans);
    margin-bottom: 4rem;
}

h2 {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--dark-grey);
    font-family: var(--font-sans);
    margin-bottom: 3rem;
}

p {
    margin: 3rem 0;
    font-size: 1.8rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--light-grey);
}

a:hover, a:focus {
    color: var(--primary-color);
}

button {
    border: none;
}

/* Composition */

.container {
    max-width: var(--lg);
    width: 80%;
    margin: 0 auto;
}

.two-col {
    display: flex;
}

.two-col > * {
    width: 50%;
}

.wrapper {
    flex: 1;
    margin-bottom: 4rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Utilities */

#signup-content .mu_register input[name="submit"],
.bg-primary {
    background-color: var(--primary-color);
    color: white;
}

.bg-dark-grey {
    background-color: var(--dark-grey);
}

.light-grey {
    color: var(--light-grey);
}

.lighter-grey {
    color: var(--lighter-grey);
}

#signup-content .mu_register input[name="submit"],
.button {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: var(--font-sans);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    width: unset;
}

#signup-content .mu_register label {
    font-size: 1.8rem;
}

#signup-content label.checkbox {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

#signup-content .mu_register label > * + * {
    margin-left: 10px;
}

#signup-content .mu_register input[name="submit"]:hover,
#signup-content .mu_register input[name="submit"]:focus,
.button:hover, .button:focus {
    text-decoration: underline;
    color: white;
}

#signup-content .mu_register input[type="text"],
#signup-content .mu_register input[type="email"] {
    width: 100%;
    font-size: 2.4rem;
    margin: 5px 0;
}

#signup-content .mu_register input[type="checkbox"],
#signup-content .mu_register input[type="radio"] {
    width: 1.8rem;
    height: 1.8rem;
}
/* Blocks */

.header {
    color: var(--primary-color);

    padding: 2rem 0;
    margin-bottom: 6rem;
}

.footer {
    font-size: 1.2rem;
    padding: 40px 0;
}

.logo {
    width: 148px;
}

#signup-content .mu_register {
    margin: 0!important;
    width: 100%!important;
}

#signup-content .suffix_address {
    font-size: 1.8rem;
}

#signup-content input#signupuser {
    display: none;
}

#signup-content label[for=signupuser] {
    display: none;
    font-size: 0;
}

#signup-content input#signupblog {
    display: none;
}

#signup-content label[for=signupblog] {
    display: none;
    font-size: 0;
}

@media (max-width: 700px ) {
    html {
        font-size: 10px;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    h1 {
        font-size: 4rem;
        margin: 0;
        margin-bottom: 2rem;
    }

    .container {
        width: unset;
        max-width: unset;
        margin: 0 1em;
    }

    .header {
        margin-bottom: 0;
    }

    .two-col {
        flex-direction: column-reverse;
    }

    .two-col > * {
        width: 100%;
    }

    .button {
        width: 100%;
        padding: 1em 0;
        text-align: center;
    }
}